---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

const { content, title, date } = Astro.props;
---
<BlogLayout>
          
          <div>
            <h1 class="text-5xl font-bold">{title}</h1>
            <p> updated at <time> {date}</time>
            <div class="divider"></div>
            <p ><article set:html={content} /></p>
            <div class="divider"></div>
            <a class="btn btn-outline btn-primary" href="/">Back</a>
          </div>

    

</BlogLayout>