---
import { contentfulClient, type BlogPost } from "../lib/contentful";
import BlogLayout from "../layouts/BlogLayout.astro";
const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
});
const posts = entries.items.map((item) => {
	const { title, date, description, slug } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date).toLocaleDateString(),
	};
});
---



<BlogLayout>
	{
		posts.map((item) => (
			<div class="card w-96 bg-base-100 shadow-xl">
				<div class="card-body">
					<h2 class="card-title">{item.title} </h2>
					<p class="card-title">{item.description} </p>
					<div class="card-actions justify-end">
						<a
							class="btn btn-outline btn-primary"
							href={`/posts/${item.slug}/`}
						>
							Click Here
						</a>
					</div>
				</div>
			</div>
			<div class="divider"></div>
		))
	}
</BlogLayout>
